<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HydraSMS</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="login-container">
                <h1 class="title">Login</h1>
                <div class="error-msg">
                    <h1>Error</h1>
                </div>
                <form action="" name="Login" id="Login-form">
                 <input name="Email" placeholder="Email" class="input-field" autocomplete="off">
                 <br><br>
                 <input type="password" name="Pass" placeholder="Password" class="input-field" autocomplete="off">
                 <br><br>
                 <input type="submit" value="Login" class="login" id="Login-submit">
                 <h6 class="sign-text">Not a member? <span class="little-msg" onclick="switchToSignUp()"> Signup</span></h6>
                </form>
            </div>
            <div class="signup-container">
                <h1 class="title">Signup</h1>
                <div class="error-msg">
                    <h1>Error</h1>
                </div>
                <form action="" id="Signup" name="Signup">
                 <input type="email" name="Email1" placeholder="Email" class="input-field" autocomplete="off">
                 <br><br>
                 <input type="password" name="Pass1" placeholder="Password" class="input-field" autocomplete="off">
                 <br><br>
                 <input type="password" name="ConPass" placeholder="Confirm Password" class="input-field" autocomplete="off">
                 <br><br>
                 <input type="submit" value="Login" class="login" id="Signup-Submit">
                 <h6 class="sign-text">Already a member? <span class="little-msg" onclick="switchToLogin()"> Login</span></h6>
                </form>
            </div>
        </div>
    </div>
    <script src="/scripts/script.js"></script>
    <script type="module" src="/server/auth.js"></script>
</body>
</html>