@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Popins", sans-serif;
}

:root {
    --text-color: rgb(187, 53, 187)
}

.background {
    height: 100vh;
    width: 100%;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.top-btn {
    color: white;
    background-color: blueviolet;
    height: 30px;
    width: 90px;
    font-size: 12px;
    border: 2px solid rgb(83, 29, 138);
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.top-btn:hover {
    color: white;
    background-color: #9746e2;
    border: 2px solid rgb(83, 29, 138);
}

.top-btn:last-of-type {
    top: 20px;
    right: 120px;
}

.content {
    width: 30%;
    height: 80vh;
    border-radius: 8px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 15px 5px rgb(46, 10, 82);
}

.chat {
    height: 90%;
    width: 100%;
    display: block;
    overflow-y: auto;
    transition: 200ms ease-in overflow-y;
    padding: 5px;
}

.text {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 213, 213);
    border-radius: 8px;
}

#input {
    height: 32px;
    width: 75%;
    font-size: 25px;
    border: none;
    background-color: grey;
    border-radius: 8px;
    color: white;
    transition: 200ms ease-in;
    padding: 0.5rem;
}

#input::placeholder {
    color: white;
    text-align: center;
}

#input:focus {
    outline: none;
    background-color: rgb(133, 123, 123);
}

#send {
    border: 2px solid rgb(83, 29, 138);
    color: white;
    background-color: #9746e2;
    width: 20%;
    height: 30px;
    cursor: pointer;
    transition: 200ms ease-in;
    margin-left: 10px;
    border-radius: 2px;
}

#send:hover {
    background-color: #a269d6;
    border: 2px solid rgb(83, 29, 138);
}

.message {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: var(--text-color);
    border-radius: 18px;
    padding: 0.7rem;
    margin: 0;
    margin: 20px 5px;
}

.message-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
}

.msg-container img {
    width: 40px;
    height: 40px;
}

#user-message {
    display: flex;
    font-size: 16px;
    color: white;
    word-break: break-all;
}

.recieved {
    margin-right: auto;
    --text-color: rgb(236, 133, 236);
}

.username-container {
    width: 100%;
    position: absolute;
    text-align: left;
    top: -10px;
    font-size: 12px;
    color: rgb(54, 54, 54);
    flex-wrap: wrap;
}

.msg-container {
    display: flex;
    align-items: center;
    position: relative;
}

.promo {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    text-align: center;
    display: none;
}

.promo h1 {
    font-size: 18px;
}

.promo a {
    color: #344c84;
    background-color: white;
    border-radius: 4px;
    padding: 0.2rem;
}

.promo a:hover {
    color: #4a629b;

}